* {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --yellow: #ffa41b;
    --blue: #1ea1ed;
}

body {
    width: 100%;
}

/* --------- HEADER --------- */
#homeHeader {
    width: 90%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* logo */
#logoYellowPart {
    color: var(--yellow);
}

#logoLink {
    text-decoration-line: none;
    color: black;
}

/* button */
#menuButton {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

#downIcon, #upIcon {
    width: 1.5em;
    height: 1.5em;
}

#upIcon, #downIcon.noShow {
    display: none;
}

#upIcon.show {
    display: block;
}

/* --------- MOBILE NAV --------- */
/* nav list */
#mobileNav.show {
    background-color: var(--blue);
    padding: 1em 0;
}

#mobileNavList {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.mobileNavItems {
    font-size: 12px;
    margin: 1.5em 0;
}

.mobileNavLinks {
    text-decoration-line: none;
    color: white;
}

/* social media*/
#mobileSocial {
    width: 120px;
    margin: 2em auto 1em auto;
    
    display: flex;
    justify-content: space-around;
}

.mobileSocialLink {
    color: white;
    text-decoration-line: none;
}

