@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --yellow: #ffa41b;
    --blue: #1ea1ed;
}

body {
    width: 100%;
}

/* --------- CLOSEABLE MESSAGE --------- */
/* closeable message */
#closeableMessageSection {
    width: 100%;
    background-color: var(--blue);
    
    position: relative;
}

#closeableMessageDiv {
    width: 90%;
    margin: 0 auto;
    padding: 1em 0;
    text-align: start;
}

#closeableMessageP {
    margin: 0;
    color: white;
    font-size: 12px;
    font-weight: 600;
    width: 90%;
    line-height: 1.7;
}

#closeableMessageP::before {
    content: "🌥️ ";
}

#closeableMessageLink {
    color: white;
}

#closeableMessageButton {
    background-color: rgba(0, 0, 0, 0);
    border: none;

    position: absolute;
    top: 35%;
    right: 10px;
}

#closeableMessageIconButton {
    color: white;
    stroke-width: 5;
}

#closeableMessageIconButton:hover {
    cursor: pointer;
}

#closeableMessageSection.noShow {
    display: none;
}

/* --------- HEADER --------- */
#homeHeader {
    width: 90%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* logo */
#logo {
    font-weight: 600;
    font-size: 20px;
}

#logoYellowPart {
    color: var(--yellow);
}

#logoLink {
    text-decoration-line: none;
    color: black;
}

/* button */
#menuButton {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

#downIcon, #upIcon {
    width: 1.5em;
    height: 1.5em;
}

#upIcon, #downIcon.noShow {
    display: none;
}

#upIcon.show {
    display: block;
}

/* --------- MOBILE NAV --------- */
/* nav list */
#mobileNav {
    display: none;
}

#mobileNav.show {
    display: block;
    
    background-color: var(--blue);
    padding: 1em 0;

    transition: .2s;

    margin-bottom: 2em;
}

#mobileNavList {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.mobileNavItems {
    font-size: 12px;
    margin: 1.5em 0;
}

.mobileNavLinks {
    text-decoration-line: none;
    color: white;
}

.mobileNavLinks.home {
    background-color: white;
    color: var(--blue);
    font-weight: bolder;
    padding: .5em 1em;
    border-radius: 1.5em;
}

/* social media*/
#mobileSocial {
    width: 120px;
    margin: 2em auto 1em auto;
    
    display: flex;
    justify-content: space-around;
}

.mobileSocialLink {
    color: white;
    text-decoration-line: none;
}

/* --------- MAIN --------- */
/* banner */
#homeBanner {
    width: 100%;


    position: relative;
}

#homeBannerTitles {
    width: 90%;
    margin: 0 auto;
}

#homeBannerH1 {
    font-weight: 700;
    font-size: 20px;
    width: 190px;
    line-height: 27px;
}

#homeBannerLink {
    text-decoration-line: none;
    color: white;
}

#homeBannerLinkTitle {
    font-weight: 600;
    font-size: 13px;
    width: 130px;
    text-align: center;
    color: white;

    background-color: var(--yellow);

    padding: .8em .2em;
    border-radius: 2em;

    box-shadow: -6px 6px var(--blue);

    margin-top: 1.5em;
    margin-left: 6px;
}

#homeBannerLogos {
    width: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5em;
}

.bannerLogo {
    width: 35px;
    height: 35px;
    color: #a6a6a6;
}

/* banner img */
#homeBannerImg, #homeBannerImgCar {
    width: 100%;
}

#homeBannerImg img {
    width: 50%;
    height: auto;

    position: absolute;
    top: 35%;
    right: 0;

    border-radius: 5em 0 0 5em;
}

@media screen and (max-width: 320px) {
    #homeBannerImg img {
        display: none;
    }
} /* this block ABOVE is for size super small, such as Galaxy Fold */

#homeBannerImgCar img {
    position: absolute;
    top: 20%;
    right: 0;

    width: 40%;
    height: auto;
}

/* --------- SECTIONS --------- */

/* ----- TYPES OF RENTALS ----- */
#typeRentalsSection {
    width: 90%;
    margin: 0 auto;
    margin-top: 4em;

    text-align: right;
}

/* titles types of rentals */
#rentalSubTitle {
    color: var(--yellow);
    margin-bottom: 0;
}

#rentalTitle {
    margin-top: .8em;
    width: 80%;
    margin-left: auto;

    font-weight: 600;
}

/* images types of rentals */
#rentalMainDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    text-align: left;
}

.rentalDiv {
    display: flex;
    flex-direction: column;

    width: 30%;
    position: relative;
}

.rentalImg {
    background-color: var(--yellow);
    width: 100%;

    padding: 65% 0;
    border-radius: .8em;
}

#hondaScooter, #hondaAtv, #jeep {
    position: absolute;
    height: auto;
}

#hondaScooter {
    width: 95%;
    align-self: end;
    top: 5%;
}

#hondaAtv {
    align-self: flex-start;
    width: 115%;
    top: 10%;
}

#jeep {
    align-self: flex-start;
    width: 106%;
    top: 5%;
}

.rentalName {
    font-size: 12px;
    margin-top: 1em;

    font-weight: 600;
}

/* ----- QUOTES ----- */

/* quote types of rentals AND quote weather */
#rentalQuoteSection, #weatherQuoteSection {
    width: 100%;
    background-color: var(--blue);
    margin-top: 1.5em;
}

#rentalQuoteDiv, #weatherQuoteDiv {
    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 2em 0;
}

#rentalQuoteImg, #weatherQuoteImg {
    width: 30%;
}

#rentalQuoteP, #weatherQuoteP {
    text-align: end;
    color: white;
    width: 60%;

    font-size: 13px;
    line-height: 1.5;
}

#weatherQuoteP {
    text-align: start;
}

/* ----- INFO RESERVATIONS ----- */
#infoReservationSection {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    margin-top: 4em;
    margin-bottom: 4em;
}

#infoReservationTitle {
    width: 80%;
    font-weight: 600;
    margin: 0 auto;
}

#infoReservationP {
    width: 95%;
    margin: 0 auto;
    font-size: 12px;

    margin-top: 1.5em;
}

#infoReservationP strong {
    color: var(--yellow);
}

#infoReservationLinkTitle {
    width: 40%;
    margin: 0 auto;
    margin-top: 1.5em;

    background-color: var(--yellow);
    padding: 1em 0;
    border-radius: 2em;

    font-weight: 600;
    font-size: 13px;

    box-shadow: -6px 6px var(--blue);
}

#infoReservationLink {
    color: white;
    text-decoration-line: none;
}

/* ----- WEATHER ----- */

/* weather titles */
#weatherSection {
    width: 90%;
    margin: 0 auto;

    padding-top: 1.5em;
    margin-bottom: 2.5em;
}

#weatherSubTitle {
    color: var(--yellow);
    margin-bottom: 0;
}

#weatherTitle {
    margin-top: .8em;
    width: 100%;

    font-weight: 600;
}

#weatherDiv {
    width: 100%;
}

/* current weather */
#currentDiv {
    background-color: var(--blue);
    border-radius: 1em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#currentIconDesc {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#currentDescDiv, #currentTempDiv {
    display: flex;
    flex-direction: column;
}

#currentTempDiv {
    text-align: end;
    margin-right: 18px;
}

#currentDescription, #currentDate , #currentTemp, #currentHumidity {
    color: white;
}

#currentDescription {
    font-weight: 500;
    font-size: 12px;

    margin-bottom: .2em;
}

#currentDate {
    font-size: 12px;
    margin-top: .2em;
}

#currentTemp {
    font-size: 20px;
    font-weight: 700;
}

#currentHumidity {
    font-size: 12px;
}

.currentIcon {
    width: 40%;
}

/* forecast weather */
#forecastDiv {
    background-color: #efefef;
    border-radius: 1em;
    margin-top: .5em;
}

#forecastTitle {
    margin: 0;
    padding-top: 1em;

    margin-left: 18px;
}

#forecastMainDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: .5em;
    padding-bottom: .5em;
}

#forecastInfoDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 18px;
}

.forecastIcon {
    width: 30%;
}

#forecastTemp {
    font-size: 12px;
    font-weight: 500;
}

#forecastDescription {
    margin-right: 30px;
    font-size: 12px;
    font-weight: 500;
}


/* --------- FOOTER --------- */

#footerHome {
    background-color: var(--blue);
    width: 100%;
    margin-top: 7em;
    padding: 2em 0 5em 0;

    position: relative;
}

/* island image */
#footerIsland {
    position: absolute;
    z-index: -1;
    width: 80px;

    left: 30px;
    top: -50px;
}

/* links */
#footerLinkDiv {
    width: 80%;
    margin: 0 auto;
}

#footerLinkList {
    list-style: none;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerLink {
    color: white;
    text-decoration-line: none;
    font-size: 12px;
}

.footerLink.home {
    background-color: white;
    color: var(--blue);

    font-weight: bolder;
    padding: .5em 1em;
    border-radius: 1.5em;
}

/* line hr */
#hrFooter {
    width: 90%;
    margin: 1.5em auto;

    border: thin solid white;
}

/* logo */
#logoDivFooter {
    width: 80%;
    margin: 0 auto;
    text-align: start;
}

#logoLinkFooter {
    color: white;
    text-decoration-line: none;
}

#logoFooter {
    font-weight: 600;
    font-size: 20px;    
}

/* information */
#footerInfoDiv {
    width: 80%;
    margin: 0 auto;
    text-align: start;
}

.footerTitle {
    color: white;
    font-size: 12px;
    margin-bottom: 1em;
}

.footerInfoItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin-bottom: .5em;
}

.footerIconsDiv {
    color: white;
    width: 10%;
}

.footerInfoItems p {
    font-size: 12px;
    color: white;
    width: 90%;

    margin: 0;
}

/* social media */
#footerSocialDiv {
    width: 80%;
    margin: 0 auto;
}

#footerSocialIconDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100px;
}

/* reference */
#footerAttributionDiv {
    width: 80%;
    margin: 2em auto;
    text-align: center;
}

#footerAttributionLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: white;
}

.footerTitle.ref {
    margin: 0 5px 0 0;
}

/* copyright */
.footerTitle.copyright {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.7;
} 
