:root {
    --yellow: #ffa41b;
    --blue: #1ea1ed;
}

/* 1000px */

@media screen and (min-width: 1000px) {

    /* --------- NAVIGATION --------- */

    /* no display button */
    #mobileButtonDiv, #mobileSocial {
        display: none;
    }

    #logo, #logoFooter {
        font-size: 23px;
    }

    /* social */
    #mobileSocialLarge {
        display: block;
        width: 110px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .mobileSocialIcon {
        color: var(--blue);
    }

    .mobileSocialIcon:hover {
        color: var(--yellow);
    }

    /* --------- BANNER --------- */

    /* titles */
    #homeBannerH1 {
        font-size: 2.8vw;
        width: 40%;
    }

    #homeBannerP {
        display: block;

        width: 45%;
        line-height: 1.5em;
        font-size: 13px;
    }

    #homeBannerP strong {
        color: var(--blue);
    }

    #bannerLinkLogosDiv {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 330px;
    }

    /* link */
    #homeBannerLinkTitle {
        font-size: 15px;
        margin-top: 2em;
        width: 150px;
    }

    /* logos */
    #homeBannerLogos {
        width: 150px;
    }

    .bannerLogo {
        width: 50px;
        height: 50px;
    }

    /* images */
    #homeBannerImg img {
        width: 40%;
        top: 20%;
    }

    #homeBannerImgCar img {
        top: -3%;
        width: 30%;
    }

    /* --------- SECTIONS --------- */

    #typeRentalDiv, #weatherMainDiv, #hrFooterLarge, #logoDivFooter, #infoLinksFooterLargeDiv {
        width: 80%;
    }

    /* --------- FOOTER --------- */

    #footerHome {
        margin-top: 10em;
    }

    /* island img */ 
    #footerIsland {
        left: 10%;
        top: -75px;
        width: 120px;
    }

    /* social icons */
    .mobileSocialIcon.footer {
        color: white;
    }

    .mobileSocialIcon.footer:hover {
        cursor: pointer;
    }

}




/* 1200px */

@media screen and (min-width: 1200px) {

    #closeableMessageP {
        font-size: 14px;
    }


    /* --------- HEADER --------- */
    #largeNavList {
        width: 350px;
    }

    .largeNavItems {
        font-size: 14px;
    }

    /* --------- BANNER --------- */
    #homeBanner {
        margin-top: 6%;
    }

    #homeHeader, #homeBannerTitles {
        width: 80%;
    }


    #homeBannerH1 {
        width: 40%;
    }

    #homeBannerP {
        width: 40%;
        font-size: 15px;
    }

    /* images */
    #homeBannerImg img {
        width: 54%;
        top: 25%;
        border-radius: 10em 0 0 10em;
    }

    #homeBannerImgCar img {
        top: -3%;
        right: 5%;
        width: 40%;
    }

    /* --------- SECTIONS --------- */

    #typeRentalDiv, #weatherMainDiv {
        width: 70%;
    }

    #rentalSubTitle, #weatherSubTitle {
        font-size: 14px;
    }

    #rentalTitle, #weatherTitle {
        font-size: 30px;
        width: 90%;
    }

    #rentalQuotePLarge, #weatherQuotePLarge {
        font-size: 14px;
        width: 80%;
    }

    #typeRentalsSection {
        width: 55%;
    }

    .rentalName {
        font-size: 14px;
    }

    #weatherTitle, #weatherQuotePLarge {
        width: 95%;
    }

    #weatherMainDiv {
        padding-top: 2em;
    }

    

    #weatherSection {
        width: 60%;
    }

    #weatherDiv {
        width: 80%;
    }

    #currentDescription, #currentDate, #currentHumidity, .forecastTitle, #forecastTemp, #forecastDescription {
        font-size: 14px;
    }
    /* info reservation */
    #infoReservationSection {
        margin: 6em auto 5em auto;
    }

    #infoReservationTitle {
        font-size: 33px;
    }

    #infoReservationP {
        font-size: 15px;
    }

    #infoReservationLinkTitle {
        font-size: 15px;
    }

    /* --------- FOOTER --------- */

    #footerHome {
        margin-top: 13em;
        padding: 4em 0 8em 0;
    }

    .footerTitle, .footerInfoItems p {
        font-size: 14px;
    }

    .footerIconsDiv {
        width: 4%;
    }

    .footerLinkItemsLarge {
        font-size: 14px;
    }

    #infoLinksFooterLargeDiv {
        margin-bottom: 4em;
    }



}