@media (max-width: 700px) {
    .portal {
        display: none;
    }

    .portal_mobile {
        display: block;
        background-color: rgb(238, 134, 15);
    }

    .card {
        display: flex;
        align-items: center;
        display: flex;
        flex-direction: column;
    }