* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --color1: #004AAD;
    --color2: #FB8500;
    --color3: #404040;
    --color4: #00A6FB;

    --color-temporal: #a8d3fc;
}

body {
    width: 100%;
}

#main {
    margin-bottom: 2em;
}

/* --------- HEADER --------- */

#header-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    margin: 0 auto;
    padding: 0.8em 0 0.8em 0;
}

.logoDiv {
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: left;
}

.logoNav-dark {
    display: none;
}

.logoNav-dark.yes {
    display: block;
}

.logoNav.no {
    display: none;
}

#social-hamburger {
    width: 35%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hamburgerDiv {
    width: 40%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

#social-header-div {
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-header {
    color: var(--color1);
}

.social-header.wa, .social-header.tx {
    display: none;
}


.hamburgerButton {
    border: none;
    background-color: white;
    padding: 0;
    display: flex;
}

.hamburger, .x {
    width: 1.5em;
    height: 1.5em;
    color: var(--color1);
}

.hamburger.no {
    display: none;
}

.x {
    display: none;
}

.x.yes {
    display: block;
    width: 1.5em;
    height: 1.5em;
}

/* --------- NAV --------- */

#nav-large {
    display: none;
}

.nav {
    display: none;
}

.nav.yes {
    display: block;
}

.navList {
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--color3);
    color: white;

    margin: 0;
    padding: 1em;
}

.navItem {
    padding: 0.2em;
    font-weight: 350;
    font-size: small;
}

.navLink {
    color: white;
    text-decoration-line: none;
}

.navLink.home, .navLink.discover, .navLink.directory,.navLink.join {
    color: var(--color2);
    font-weight: 600;
}

/* --------- BANNER --------- */

#banner {

    width: 100%;

    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: relative;

    /* background-image: linear-gradient(to left, #004bad00 10%, #004AAD 100%), url(../images/panoramica_aerea_de_ciudad_guayana_base.webp);
    background-size: cover;
    background-position: center; */

}

#hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #05193700, #004d7a99, var(--color1));
}

#banner #hero img {
    width: 100%;
    height: auto;
}


#banner-subtitle, #banner-title, #join-now {
   margin: 0;
   font-weight: 400;
   color: white;
}

#banner1, #banner2 {
    width: 90%;
    position: absolute;
}

#banner1 {
    top: 20%;
}

#banner2 {
    top: 65%;
}

#banner-subtitle {
    font-size: 3vw;
    font-weight: 400;
    color: white;
}

#banner-title {
    font-size:x-large;
    margin-top: 0.2em;
    font-size: 6vw;
}

#join-now {
    font-size: 3vw;
    width: 33%;
    padding: 0.5em;

    border: 0.1em solid;
    border-radius: 1.5em;

    text-align: center;
}

#join-link {
    text-decoration-line: none;
    color: white;
}

#join-now:hover {
    background-color: var(--color2);
    border-color: var(--color2);
}

/* --------- BANNER MEET ----------*/
#bannerMeet {
    display: none;
}

#bannerMeet.show {
    background: linear-gradient(to left, #05193700, var(--color1) 40%);
    width: 90%;
    height: 6.5em;
    margin: 0 auto;
    border-radius: 1em;
    margin-top: 1em;
    position: relative;
    display: flex;
    align-items: center;
}

#bannerMeet.noShow {
    display: none;
}

#imgMeetGreetDiv {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: end;

    background-color: #1e1e1e;
    border-radius: 1em;
}

#imgMeetGreet {
    width: auto;
    height: auto;
    border-radius: 0 1em 1em 0;
}

#bannerMeetDiv {
    padding: 1em 1.3em;
}

#bannerMeetTitle2 {
    margin: 0;
    font-weight: 500;
    color: white;
}

#bannerMeetDiv h6 {
    font-weight: 400;
    margin: 0;
    margin-top: .5em;
    margin-bottom: 1.2em;
    color: white;
}

#banner2Info {
    font-size: x-small;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#banner2Info p {
    padding: .7em 1.2em;
    border-radius: 2em;
    color: white;
    font-weight: 500;
    margin: 0;
    border: 1px solid white;
}

#banner2Info a {
    background-color: #FB8500;
    color: white;
    padding: .7em 1.2em;
    border-radius: 2em;
    margin: 0;
    margin-left: .5em;
    text-decoration-line: none;
    font-weight: 500;
}

#exit {
    border: none;
    background-color: #004bad00;
    position: absolute;
    right: 1em;
    top: .5em;
}

#exit:hover {
    cursor: pointer;
}

#exitIcon {
    color: #ffffffd0;
    width: 1.2em;
    height: 1.2em;
}

/* --------- BANNER MEET LARGE ----------*/
#bannerMeetLarge.show {
    display: none;
}

#bannerMeetLarge {
    display: none;
}

/* --------- BUTTON-DARK --------- */

#button-dark {
    padding: 1em;
    border-radius: 1.8em;
    border: none;
    background-color: var(--color1);

    position: fixed;
    top: 85%;
    left: 80%;
}

#button-dark:hover {
    cursor: pointer;
}

.moon, .sun {
    color: white;
}

.moon.no {
    display: none;
}

.sun {
    display: none;
}

.sun.yes {
    display: block;
    color: var(--color1);
}

/* --------- SPOTLIGHTS --------- */

#spot-title, .spot-header, .spot-paragraph {
    margin: 0;
}

#spot-title {
    font-weight: 600;
}

#spot {
    width: 90%;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 4em;

    display: flex;
    flex-direction: column;
}

.spot-divs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 7.5em;
    margin-top: 1.5em;
}

.spot-image1, .spot-image2, .spot-image3 {
    width: 30%;
    padding: 2em;
    margin-right: 1em;
    border-radius: 0.8em;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-temporal);

    font-size: small;
}

.spot-image1 {
    background-image: url(../images/water_car1_base.webp);
    background-position: center;
    background-size: cover;
}

.spot-image2 {
    background-image: url(../images/children_studying_base.webp);
    background-position: center;
    background-size: cover;
}

.spot-image3 {
    background-image: url(../images/workers_base.webp);
    background-position: center;
    background-size: cover;
}

.spot-text-div {
    width: 60%;
    padding: 0.3em 0 0.3em 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.spot-header {
    font-weight: 600;
    font-size: small;
}

.spot-paragraph {
    font-size: small;
    margin-top: 0.3em;
}

.spot-text2, .spot-text {
    display: flex;
    flex-direction: column;
}

.spot-link1 {
    color: var(--color1);
    text-decoration-line: none;
    font-size: small;
}

.spot-link1:hover {
    text-decoration-line: underline;
}

.spot-link2 {
    text-decoration-line: none;
    margin-top: 1em;
    background-color: var(--color1);
    color: white;
    width: 40%;
    text-align: center;
    padding: 0.5em;
    border-radius: 1em;
    font-size: small;
    font-weight: 500;
}

.spot-link2:hover {
    background-color: var(--color2);
}

/* --------- EVENT --------- */

#event {
    width: 100%;
    margin-bottom: 4em;
}

#event-image {
    width: 100%;
    height: 5em;
    padding: 3.5em 0 3.5em 0;
    background-color: var(--color-temporal);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: small;

    background-image: url(../images/bike_base.webp);
    background-position: center;
    background-size: cover;
}

#event-text {
    background-color: var(--color1);
    color: white;
    padding: 2em;

    display: flex;
    flex-direction: column;
}

#event-subtitle, #event-title {
    margin: 0;
}

#event-headers, #event-paragraph, #event-link-div {
    width: 90%;
    margin: 0 auto;
}

#event-subtitle {
    font-size: small;
    font-weight: 500;
}

#event-title {
    margin-top: 0.3em;
    font-size: large;
    font-weight: 600;
}

#event-paragraph {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: small;
}

#event-link-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#event-link {
    color: var(--color1);
    text-decoration-line: none;
    padding: 0.5em;
    font-size: small;
    font-weight: 500;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: 1em;
}

#event-link:hover {
    background-color: var(--color2);
    color: white;
}

/* --------- WEATHER --------- */

#weather {
    background-color: rgb(219, 219, 219);
    width: 90%;
    margin: 0 auto;
    border-radius: 1em;
    margin-bottom: 3em;

    display: flex;
    align-items: center;
    justify-content: center;
}

#weather-content {
    padding: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

#wea-div-title {
    width: 100%;
}

#wea-title {
    margin: 0;
    font-weight: 600;
}

#wea-title1, #wea-title2, .wea-humidity, .wea-humidity2 {
    margin: 0;
    font-size: small;
}

#wea-div1, .wea-div2 {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

#wea-div1 {
    justify-content: space-around;
    width: 90%;
    margin: 0;
}

.wea-div2 {
    justify-content: space-between;
    width: 50%;
    margin-top: 0;
}

.wea-div2.wind {
    margin-top: .5em;
    margin-bottom: 1em;
}



.wea-humidity {
    justify-content: left;
}

#wea-hr {
    width: 100%;
    border: solid;
    border-width: thin;
    color: rgb(189, 189, 189);
}

#temperature {
    font-weight: 700;
}

#description {
    margin-bottom: 0;
    font-size: small;
    font-style: italic;
    font-weight: 500;
}

#humidity, #wind-speed {
    font-size: small;
}

.forecast {
    width: 100%;
}

.imgTempFore1, .imgTempFore2, .imgTempFore3 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.forecast1 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

    font-size: small;
    font-weight: 500;
}

.imgForeContent {
    width: 4em;
}

.tempForeContent {
    font-weight: 700;
}

/* --------- MAP --------- */

.map {
    width: 100%;
    display: flex;
    margin: 0 auto;
}

#map-frame {
    width: 90%;
    margin: 0 auto;
    border-radius: 1em;
    height: 15em;
}

/* --------- FOOTER --------- */

#footer {
    background-color: var(--color3);
    width: 100%;
}

#footer-div {
    width: 90%;
    margin: 0 auto;
    padding-top: 3em;
    padding-bottom: 3em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer ul {
    margin: 0;
}

#footer-author-info, #footer-author-info2 {
    margin: 0;
}

#footer-list {
    list-style: none;
    padding: 0;
    width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-link {
    color: white;
    text-decoration-line: none;
    font-size: small;
}

.footer-link.home, .footer-link.discover, .footer-link.directory, .footer-link.join {
    background-color: white;
    padding: .5em 1em;
    border-radius: 2em;
    color: var(--color3);
    font-weight: 600;
}

#footer-hr {
    width: 100%;
    border: solid;
    border-width: thin;
    color: white;
    margin-top: 0.8em;
}

#footer-logo-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

#footer-info {
    width: 80%;
    margin-bottom: 1.5em;
}

#footer-list-info {
    list-style: none;
    padding: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-info-item {
    padding: 0.1em;
    text-align: center;
}

.footer-info-link {
    color: white;
    text-decoration-line: none;
    font-size: small;
}

#footer-social {
    margin-bottom: 2em;
    width: 35%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social-footer {
    color: white;
}

#footer-author {
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-author-info, #footer-author-info2 {
    color: white;
    font-size: small;
}

#footer-author-info {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5em;
}



/* --------- DISCOVER --------- */
.main {
    width: 90%;
    margin: 0 auto;

    margin-top: 1.5em;

    font-size: 3.5vw;
}

.map.discover {
    display: none;
}

.side-bar {
    
    border-radius: 1em;
}

.side-bar-p1 {
    margin-top: 0;
}

.side-bar.one {
    margin-bottom: 1em;
    background-color: #ebebeb;
    padding: 2em;

}

.side-bar-icon {
    color: var(--color2);
}

.side-bar.two {


    font-weight: 500;
    background-color: #19519a;
    color: white;
    text-align: center;
    padding: .1em;
    border-radius: 3em;
    margin-bottom: 1em;

}



.side-bar1-title1 {
    font-weight:normal;
    margin-bottom: 0.3em;
}

.side-bar1-title2 {
    margin: 0;
}

.side-bar-info-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;

    margin-top: 2em;
}

.side-bar-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "icon text";
    grid-gap: 1em;
    align-items: center;
}

.side-bar-info span {
    grid-area: icon;

    display: flex;
    justify-content: center;
    align-items: center;
}


.side-bar-info p {
    grid-area: text;

    font-weight: bold;
}




.images {
    display: grid;
    grid-gap: 1em;
    margin-top: 1em;
}

.discover-img-container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image content";
    align-items: center;

    
}

.discover-img {
    border-radius: 1em;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

@media screen and (min-width: 500px) {
    .main {
        font-size: 2.5vw;
    }
}

/* --------- JOIN --------- */
.join {
    margin-top: 2em;
    margin-bottom: 3em;
    width: 100%;
    text-align: center;
}

.join h1 {
    font-size: 5vw;
    margin-bottom: 1em;
    color: #1e1e1e;
}

.join form {
    display: block;
    margin: 0 auto;

    width: 90%;
}

.join form fieldset {
    display: block;
    border-radius: 1em;
    font-weight: 600;
    border-color: var(--color1);
    color: #1e1e1e;
    font-size: 4vw;
}

fieldset label {
    text-align: left;
    width: 95%;
    margin: 0 auto;
}

fieldset label input {
    width: 97%;
    padding: 1em 0 1em .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    border: none;
    background-color: rgb(222, 222, 222);
    border-radius: .3em;
    font-size: 4vw;
}

fieldset label input:hover {
    background-color: rgb(197, 197, 197);


}

fieldset label input::placeholder {
    color: rgb(73, 73, 73);
}

.first-fieldset {
    margin-bottom: 1.5em;
}

#fname {
    margin-top: 1em;
}

#phone {
    margin-bottom: 1em;
}


.membershipLevelDiv {
    display: block;
    width: 97%;
    margin: 0 auto;
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
}
.mlevel {
    display: block;
    margin: 0;
    font-weight: normal;
    color: #383838;
}
.mlevel input {
    
    width: 10%;
}

.mlevel.first {
    margin-top: .5em;
}

#businessName {
    margin-top: 1em;
}

.businessDescription {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    margin: 0;
}

.businessDescription div {
    margin-top: .5em;
    width: 100%;
}

.businessDescription textarea {
    border: none;
    background-color: rgb(222, 222, 222);
    border-radius: .3em;
    resize: none;
    width: 100%;
    height: 10em;
    padding: .5em .5em 1em .5em;
    font-size: 4vw;
    margin-top: .5em;
    margin-bottom: 1.5em;
}

.businessDescription textarea:hover {
    background-color: rgb(197, 197, 197);
}

.businessDescription textarea::placeholder {
    color: rgb(73, 73, 73);
}

.submitBtn {
    margin-top: 1.5em;
    padding: 1em 4em 1em 4em;
    border-radius: 3em;
    border: none;
    background-color: #004AAD;
    color: white;
    font-size: 4vw;
    width: 80%;
    font-weight: 600;
}

.submitBtn:hover {
    background-color: #023475;
    cursor: pointer;
}

table {
    display: none;
}

.join p {
    background-color: #004AAD;
    width: 60%;
    margin: 0 auto;
    padding: 2em;
    border-radius: 1em;
    color: white;
    font-size: 3vw;
}

.currentDate, .currentTime {
    display: flex;
    flex-direction: column;
    font-size: 4vw;
    text-align: left;
    width: 100%;
}

.currentDate input, .currentTime input {
    color: rgb(73, 73, 73);
}

.currentDate input {
    margin-bottom: 1.5em;
}

/* --------- DIRECTORY --------- */

/* ---- BUTTON-DIRECTORY ---- */
.button-directory-div {
    width: 30%;
    margin: 0 auto;
    margin-top: .5em;
    margin-bottom: 2em;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.grid-button {
    padding: .8em;
    background-color: var(--color1);
    border: 1px solid var(--color1);
    border-radius: .2em;
}

.list-button {
    padding: .8em;
    background-color: white;
    border: 1px solid var(--color1);
    border-radius: .2em;
}

.grid-button:hover, .list-button:hover, .grid-button.no-selected:hover {
    cursor: pointer;
    background-color: var(--color1);
    transition: .2s;
}

.grid-button-icon {
    color: white;
}

.list-button-icon {
    color: var(--color1);
}


.list-button:hover > .list-button-icon, .grid-button.no-selected:hover > .grid-button-icon.no-selected {
    color: white;
}

.grid-button.no-selected {
    background-color: white;
    border: 1px solid var(--color1);
}

.grid-button-icon.no-selected {
    color: var(--color1);
}

.list-button.selected {
    background-color: var(--color1);
    border: 1px solid var(--color1);
}

.list-button-icon.selected {
    color: white;
}

/* ---- DIRECTORY-GRID ---- */
.main-directory {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    margin-top: 2em;
}

.directory-container {
    width: 85%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
}

.directory-container.no-show-grid {
    display: none;
}

.section-directory {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5em;
    border-radius: .7em;
    box-shadow: 0 5px 10px rgb(179, 179, 179);
}

.section-directory:hover {
    box-shadow: 0 5px 10px rgb(87, 87, 87);
}

.section-directory img {
    width: 50%;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.section-directory p {
    width: 70%;
    margin: 0;
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: small;
    color: #292929;
}

.section-directory a {
    margin-top: 1em;
    margin-bottom: 2.2em;
    font-size: small;
}

@media screen and (min-width: 1200px) {
    .directory-container {
        width: 65%;
    }

    .section-directory p {
        font-size: 1vw;
    }
    
    .section-directory a {
        font-size: 1vw;
    }
}

/* ---- DIRECTORY-LIST ---- */
.directory-list {
    display: none;
}

.directory-list.show-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

.section-directory-list {
    width: 100%;
}

.div-directory-list {
    width: 85%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    text-align: start;

    margin-top: 1em;
    margin-bottom: 1em;
}

.section-directory-list p, .section-directory-list a {
    font-size: small;
    width: 100%;
    margin: 0 auto;
    text-overflow: ellipsis;
    overflow: hidden;
}

.section-directory-list p {
    margin-bottom: .5em;
    color: #292929;
}

.name-directory-list {
    font-weight: bold;
}

.directory-list .section-directory-list:nth-child(odd) {
	background-color: #d2e2f6;
}

@media screen and (min-width: 800px) {
    .div-directory-list {
        width: 85%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
        grid-gap: 15px;
    }

    .section-directory-list p, .section-directory-list a {
        font-size: small;
    }

    .button-directory-div {
        width: 20%;
    }

}

@media screen and (min-width: 1000px) {
    .button-directory-div {
        width: 15%;
        margin-top: -2em;
        margin-bottom: 3em;
    }

}

@media screen and (min-width: 1200px) {
    .div-directory-list {
        width: 65%;
    }

    .section-directory-list p, .section-directory-list a {
        font-size: 1vw;
    }

    .button-directory-div {
        width: 10%;
    }

    .grid-button-icon, .list-button-icon {
        width: 1.2em;
        height: 1.2em;
    }

}


/* -------- DARK MODE -------- */
body.dark {
    background-color: rgb(37, 37, 37);
    transition: 0.5s;
}

.header.dark, .hamburgerButton.dark  {
    background-color: var(--color3);
}

.hamburgerButton.dark svg {
    color: white;
}

#button-dark.dark {
    background-color: white;
}

#social-header-div.dark .social-header-link .social-header {
    color: white;
}

#navList-large.dark .navItem-large .navLink-large {
    color: white;
} 

#navList-large.dark .navItem-large .navLink-large:hover {
    color: var(--color4);
} 

#main.dark #spot {
    color: white;
}

#main.dark #spot .spot-link1 {
    color: rgb(65, 197, 233);
}

#main.dark #spot .spot-link2 {
    background-color: rgb(108, 108, 108);
    color: white;
}

#main.dark #spot .spot-link2:hover {
    background-color: var(--color1);
    color: white;
}

#main.dark #event-text {
    background-color: #404040;
}

#main.dark #event-text #event-paragraph {
    color: rgb(218, 218, 218)
}

#main.dark #event-text #event-link {
    background-color: var(--color1);
    color: white;
}

#main.dark #event-text #event-link:hover {
    background-color: white;
    color: var(--color1);
}
