:root {
    --color1: #004AAD;
    --color2: #FB8500;
    --color3: #404040;
    --color4: #00A6FB;

    --color-temporal: #a8d3fc;
}

@media screen and (min-width: 1000px) {

    #main {
        margin-top: 6em;
        margin-bottom: 6em;
    }

    #nav-large {
        width: 30%;
    }

    .logoNav, .logoNav-dark {
        width: 200px;
    }

    #footer-logo-img {
        width: 250px;
    }

    .social-header.wa, .social-header.tx {
        display: block;
    }

    #social-hamburger {
        width: 15%;
    }

    #banner1, #banner2 {
        width: 84%;
    }

    /* #banner {
        background-image: linear-gradient(to left, #004bad00 50%, #004AAD 100%), url(../images/panoramica_aerea_de_ciudad_guayana.webp);
        
    } */

    #banner-subtitle {
        font-size: 1.7vw;
   }
    
    #banner-title {
        font-size: 3.5vw;
        margin-top: 0.2em;
    }

    #join-now {
        font-size: 1.5vw;
        width: 15%;
    }

    #button-dark {
        left: 92%;
    }

    #spot {
        width: 65%;
        margin-bottom: 6em;
    }

    .spot-image1, .spot-image2, .spot-image3 {
        width: 70%;
        margin: 0;
        height: 8em;
        padding: 3em;
    }

    .spot-header {
        font-size: 0.9em;
    }
    
    .spot-paragraph {
        font-size: 0.9em;
        font-weight: 450;
        margin-top: 0.6em;
    }
    
    .spot-link1 {
        font-size: 0.9em;
    }
    
    .spot-link2 {
        font-size: 0.9em;
        width: 50%;
    }

    .spot-text-div {
        height: 7.5em;
    }

    #event {
        height: 20em;
        margin-bottom: 6em;
    }

    #event-text {
        justify-content: center;
    }

    #event-subtitle {
        font-size: 0.9em;
    }
    
    #event-title {
        font-size: large;
    }
    
    #event-paragraph {
        font-size: 0.9em;
    }
    
    #event-link {
        font-size: 0.9em;
    }

    #event-image {
        width: 80%;
        background-image: url(../images/bike.webp);
    }

    #weather-map {
        width: 65%;
    }

    #weather {
        width: 40%;
        height: 18em;
    }

    .map {
        width: 55%;
    }

    #map-frame {
        height: 18em;
    }

    #wea-title1, #wea-title2, .wea-humidity, .wea-humidity2 {
        font-size: 0.9em;
    }

    #wea-sun {
        font-size: 0.9em;
    }

    #footer-div {
        padding-top: 4em;
        padding-bottom: 4em;
    }
    

    #footer-logo-info {
        margin-bottom: 2em;
    }

    #footer-info {
        margin: 0;
        width: 100%;
    }

    #footer-list-info {
        align-items: center;
        
    }

    #footer-social {
        width: 15%;
        margin-bottom: 4em;
    }

    #footer-author-info {
        width: 50%;
    }

    #footer-hr {
        width: 80%;
        margin-top: 1.5em;
    }

    #footer-list {
        width: 40%;
    }


}