:root {
    --color1: #004AAD;
    --color2: #FB8500;
    --color3: #404040;
    --color4: #00A6FB;

    --color-temporal: #a8d3fc;
}

@media screen and (min-width: 1000px) {

    #main {
        margin-top: 6em;
        margin-bottom: 6em;
    }

    #nav-large {
        width: 30%;
    }

    .logoNav, .logoNav-dark {
        width: 200px;
    }

    #footer-logo-img {
        width: 250px;
    }

    .social-header.wa, .social-header.tx {
        display: block;
    }

    #social-hamburger {
        width: 15%;
    }

    #banner1, #banner2 {
        width: 84%;
    }

    /* #banner {
        background-image: linear-gradient(to left, #004bad00 50%, #004AAD 100%), url(../images/panoramica_aerea_de_ciudad_guayana.webp);
        
    } */

    #banner-subtitle {
        font-size: 1.7vw;
   }
    
    #banner-title {
        font-size: 3.5vw;
        margin-top: 0.2em;
    }

    #join-now {
        font-size: 1.5vw;
        width: 15%;
    }

    #button-dark {
        left: 92%;
    }

    #spot {
        width: 65%;
        margin-bottom: 6em;
    }

    .spot-image1, .spot-image2, .spot-image3 {
        width: 70%;
        margin: 0;
        height: 8em;
        padding: 3em;
    }

    .spot-header {
        font-size: 0.9em;
    }
    
    .spot-paragraph {
        font-size: 0.9em;
        font-weight: 450;
        margin-top: 0.6em;
    }
    
    .spot-link1 {
        font-size: 0.9em;
    }
    
    .spot-link2 {
        font-size: 0.9em;
        width: 50%;
    }

    .spot-text-div {
        height: 7.5em;
    }

    #event {
        height: 20em;
        margin-bottom: 6em;
    }

    #event-text {
        justify-content: center;
    }

    #event-subtitle {
        font-size: 0.9em;
    }
    
    #event-title {
        font-size: large;
    }
    
    #event-paragraph {
        font-size: 0.9em;
    }
    
    #event-link {
        font-size: 0.9em;
    }

    #event-image {
        width: 80%;
        background-image: url(../images/bike.webp);
    }

    #weather-map {
        width: 65%;
    }

    #weather {
        width: 40%;
    }

    .map {
        width: 55%;
    }

    #wea-sun {
        font-size: 0.9em;
    }

    #footer-div {
        padding-top: 4em;
        padding-bottom: 4em;
    }
    

    #footer-logo-info {
        margin-bottom: 2em;
    }

    #footer-info {
        margin: 0;
        width: 100%;
    }

    #footer-list-info {
        align-items: center;
        
    }

    #footer-social {
        width: 15%;
        margin-bottom: 4em;
    }

    #footer-author-info {
        width: 50%;
    }

    #footer-hr {
        width: 80%;
        margin-top: 1.5em;
    }

    #footer-list {
        width: 40%;
    }

/* --------------- DISCOVER --------------- */

    .main {
        width: 65%;
        font-size: 1vw; 
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 1em;
    }

 

    .map.discover {
        display: block;
        width: 100%;
        height: 30em;
    }

    .side-bar.two {
        margin-bottom: 1em;
    }

    .discover-img-container {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr;
        grid-template-areas: "image";
        background: linear-gradient(to left, #004bad00, var(--color1), var(--color4));
        border-radius: 1em;
        
    }

    .discover-img {
        margin: 0;
        position: relative;
        
    }


    .discover-img-content {
        position: absolute;
        z-index: -1;
        padding: 50px;
        color: white;

        font-size: 1.1vw;
     
    }

    .discover-img-container:hover > .discover-img {

        opacity: .5;
        transition: .3s;

        
    }

    .discover-img-container:hover > .discover-img-content {

        z-index: 1;

        
    }

   

    .images {
        margin-top: 0;
    }

/* --------------- JOIN --------------- */
.header.joinh {
    box-shadow: 0 1px 10px rgb(208, 208, 208);
}

.join {
    margin-top: 3em;
    margin-bottom: 5em;
}

    .join form {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .join form fieldset {
        font-size: 1.1vw;
    }

    .mlevel, .businessDescription, .membershipLevelDiv, fieldset label input, .businessDescription textarea, .submitBtn {
        font-size: 1vw;
    }

    .join h1 {
        font-size: 2vw;
        margin-bottom: 2em;
    }

    .join p {
        font-size: 1vw;
    }

    .currentDate, .currentTime {
        font-size: 1vw;
    }


    .form1 {
        width: 35%;
    }

    .form2 {
        width: 60%;
        display: flex;
        flex-direction: column;
        margin-top: .5em;
    }

    .form2Img {
        width: 100%;
        height: auto;
        display: block;
    }

    .form2Img img {
        width: 100%;
        height: auto;
        margin-bottom: 2em;
        border-radius: 1em;
    }

    .submitBtn:hover {
        cursor: pointer;
    }

   /* TABLE */
table {
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 1vw;
    
    display:block;
    width: 100%;
}

td {
    border: 1px solid rgb(151, 151, 151);
    width: 100%;
}

th {
    border: 1px solid white;
    
}

.head1 {
    background-color: var(--color1);
    color: white;
    padding: 1em 5em 1em 5em;
    font-weight: 600;
}

.head2 {
    padding: .5em 1em .5em 1em;

    background-color: rgb(48, 122, 226);
    color: white;
    font-weight: 600;
}

.feature {
    padding: .5em 1em .5em 1em;
    font-weight: 600;
    color: rgb(54, 54, 54);

    border-left-width: 0;
}

td {
    text-align: center;
}

tbody tr:nth-child(even) {
	background-color: rgb(228, 228, 228);
}

tbody tr td:last-child {
    border-right-width: 0;
}

caption {
    caption-side: bottom;
    font-size: small;
    padding: 1em;
    color: rgb(74, 74, 74);
}

.head2.empty {
    background-color: var(--color3);
} 

.head2.bro {
    background-color: rgb(233, 123, 49);
}

.head2.sil {
    background-color: rgb(161, 161, 161);
}

.head2.gol {
    background-color: rgb(240, 163, 20);
}



    

    

}