:root {
    --color1: #004AAD;
    --color2: #FB8500;
    --color3: #404040;
    --color4: #00A6FB;

    --color-temporal: #a8d3fc;
}

@media screen and (min-width: 600px) {

    .logoDiv {
        width: 40%;
    }
    

    #nav-large {
        display: block;
        width: 40%;
    }

    #navList-large {
        list-style: none;
        padding: 0;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .navLink-large {
        color: var(--color1);
        text-decoration-line: none;
        font-size: small;
    }

    .navLink-large.home, .navLink-large.discover, .navLink-large.directory, .navLink-large.join {
        background-color: var(--color2);
        padding: .5em 1em;
        border-radius: 2em;
        color: white;
        font-weight: 600;
    }

    .navLink-large.home:hover, .navLink-large.discover:hover, .navLink-large.directory:hover, .navLink-large.join:hover {
        color: white;
    }

    .navLink-large:hover {
        color: var(--color2);
        font-weight: 600;
    }

    #join-now {
        width: 25%;
    }

    #social-hamburger {
        width: 15%;
    }

    #social-header-div {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .hamburgerDiv {
        display: none;
    }

    /* #banner {
        background-image: linear-gradient(to left, #004bad00 20%, #004AAD 100%), url(../images/panoramica_aerea_de_ciudad_guayana_medium.webp);
    } */

     
    #banner-subtitle {
         font-size: 2vw;
    }
     
    #banner-title {
         font-size: 5vw;
         margin-top: 0.2em;
    }

    #button-dark {
        left: 85%;
    }

    #join-now{
        font-size: 2vw;
    }    

    .spot-image {
        margin-right: 2em;
    }

    #footer-list {
        width: 60%;
    }

    #footer-social {
        width: 25%;
    }

    #footer-author {
        width: 60%;
    }

    #banner1, #banner2 {
        width: 80%;
    }

    #spot {
        width: 80%;
    }

    #event-headers, #event-paragraph, #event-link-div {
        width: 80%;
    }

    #weather {
        width: 80%;
    }

    #map-div-title, #map-frame {
        width: 80%;
    }




    .main {
        width: 80%;
        font-size: 2vw;
    }

    .join form {
        width: 70%;
    }

    .join form fieldset, fieldset label input, .businessDescription textarea, .submitBtn {
        font-size: 2.5vw;
    }

    .join h1 {
        font-size: 3.5vw;
    }

    .join p {
        font-size: 2vw;
    }

    .currentDate, .currentTime {
        font-size: 2.5vw;
    }

    /* --------- BANNER MEET ----------*/
#bannerMeet.show {
    display: none;
}

#bannerMeet {
    display: none;
}

    /* --------- BANNER MEET LARGE ----------*/
#bannerMeetLarge {
        display: none;
}
#bannerMeetLarge.show {
    background: linear-gradient(to left, #05193700, var(--color1) 40%);
    width: 100%;
    height: 5em;

    display: flex;
    align-items: center;

    position: relative;
}

#bannerMeetLarge.noShow {
    display: none;
}

#bannerMeetDivLarge {
    padding: 1em 1.3em;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    width: 90%;
    margin: 0 auto;
}

#imgMeetGreetDivLarge {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: end;

    background-color: #1e1e1e;
}

#imgMeetGreetLarge {
    width: auto;
    height: auto;
}

#bannerMeetTitleLarge {
    margin: 0;
    font-weight: 500;
    color: white;
}

#bannerMeetDivLarge h6 {
    font-weight: 400;
    margin: 0;
    margin-top: .5em;
    color: white;
}

#banner2InfoLarge {
    font-size: x-small;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 3em;
}

#banner2InfoLarge p {
    padding: .7em 1.2em;
    border-radius: 2em;
    color: white;
    font-weight: 500;
    margin: 0;
    border: 1px solid white;
}

#banner2InfoLarge a {
    background-color: #FB8500;
    color: white;
    padding: .7em 1.2em;
    border-radius: 2em;
    margin: 0;
    margin-left: .5em;
    text-decoration-line: none;
    font-weight: 500;
}

#exitLarge {
    border: none;
    background-color: #004bad00;
    position: absolute;
    right: 2em;
    top: .5em;
}

#exitLarge:hover {
    cursor: pointer;
}

#exitIconLarge {
    color: #ffffffd0;
    width: 1.2em;
    height: 1.2em;
}
   

    
}