@media screen and (max-width: 800px)
{
    header {
        flex-direction: column;
    }

    header img {
        margin-top: 10px;
        width: 80px;
    }

    header h1 {
        margin-bottom: 20px;
    }

    main {
        display: block;
        width: 65%;
    }

    nav {
        flex-direction: column;
    }

    nav a {
        padding: 5px;
    }
}