@media screen and (max-width: 800px)
{
    header {
        flex-direction: column;
    }

    header img {
        margin-top: 10px;
    }

    header h1 {
        margin-bottom: 20px;
    }

    button {
        cursor: pointer;
    }

    .hamburger, button, .area_hamburger {
        display: block;
    }

    main {
        display: block;
        width: 65%;
    }

    .nav ul {
        flex-direction: column;
        padding: 0;
        margin-top: 0;
    }

    .nav {
        display: none;
        padding-top: 0;
    }

    .nav ul li {
        margin: 0.5em 0;
    }

    .nav.active {
        display: block;
    }

    .hamburger.dont {
        display: none;
    }

    .x.yes {
        display: block;
    }

}